<% excluded_attributes = [:id, :updated_at, :message] %>
<% @inquiry.attributes.reject { |name, value| excluded_attributes.include?(name.to_sym) }.each do |attribute_name, attribute_value| %>
	<%# if attribute_value.present? %>
	  <p>
			<%= Inquiry.human_attribute_name(attribute_name) %>: <%= attribute_value %>
		</p>
	<%# end %>
<% end %>

<p>
	<%= t(:message) %>: <%= @inquiry.message %>
</p>

<p>
	<% if @inquiry.inquiry_file %>
	  <%= t("contact_us.attachment") %>: <%= link_to t("contact_us.download"), @inquiry.inquiry_file.attachment.url %>
	<% end %>
</p>

<p>
    <%= link_to t(:back), collection_url %>
    | <%= button_to t("delete"), object_url(@inquiry), :confirm => t("confirm_delete"), :method => :delete %>
</p>
